*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.d1{
    flex: 0.5;
    height: 200px;
    background-color: blue;
}
.d2{
    flex: 0.25;
    height: 300px;
    background-color: rebeccapurple;
}
.d3{
    flex: 0.25;
    height: 300px;
    background-color: green;
}